        	* {
        		box-sizing: border-box;
        	}
        	
        	.row {
        		content: "";
        		display: table;
        		clear: both;
    		}
    		
    		.columnLeft{
    			float: left;
    			width: 25%;
    			padding: 20px;
    		}
    		
    		.columnRight{
    			float: right;
    			width: 75%;
    			padding: 20px;
    		}
    		#first{ 
    		color: blue;}
    		#second{
    		color: green;}
    		#Bay{
    		color:darkblue;}
    		#park{
    		color:darkgreen;}
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
    	