        	* {
        		box-sizing: border-box;
        	}			/*makes the box sizing a border box*/
        
        	.row {
        		content: "";
        		display: table;
        		clear: both;
    		}			/*display equals table*/
    		
    		.columnLeft{
    			float: left;
    			width: 25%;
    			padding: 20px;
    		}			/*makes the column on the left column float to the left, have a width of 25%, and padding of 20*/
    		
    		.columnRight{
    			float: right;
    			width: 75%;
    			padding: 20px; /*makes the right column float to the right, have a width of 75%, and padding of 20*/
    		}
    		#first{ 
    		color: blue;}/*makes the id name first color blue*/
    		#second{
    		color: green;}/*makes the id name second color green*/
    		#Bay{
    		color:darkblue;}  /*makes the id name Bay color darkblue*/
    		#park{
    		color:darkgreen;} /*makes the id name park color darkgreen*/
div.scrollmenu {
  background-color: black;
  overflow: auto;
  white-space: nowrap;/*makes the background color black*/
}

/*lines 38 to 44 makes the background around the words on top white and makes padding 14*/
div.scrollmenu a {
  display: inline-block; 
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/*the background color of the menu is black*/
div.scrollmenu a:hover {
  background-color: black;
}
#2/27{
color="lightblue"
font-family: italic;}
#2/28{
color="lightgreen"
font-family: "Times New Roman", Times, serif;}